.toast.show {
    visibility: visible !important;
    animation: fadein 0.5s, fadeout 0.5s 2.5s; 
}

@keyframes fadein {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes fadeout {
    from {opacity: 1; transform: translateY(0);}
    to {
        opacity: 0;
        transform: translateY(-20px);
        visibility: hidden;
    }
}


/* page loading */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}